body {
  background-color: rgb(253, 251, 251);
  margin: auto;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #718CA0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

#menu {
  margin-top: 100px;
  background-color: #80ABB0;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
}

#menu a {
  text-decoration: none;
  padding: 14px 20px;
  color: inherit;
}

#menu a:hover {
  background-color: #B6B6B6;
  border: 1px solid black;
  transition: 1s;
}

#lists {
  background-color: #B6B6B6;
  margin-bottom: 10px;
}

#licoes_aprendidas{
  margin-left: 310px;
  padding: 10px;
  font-size: 20px;
}

#licoes_a_aprender{
  margin-left: 80px;
  padding: 10px;
  font-size: 20px;
}

#lists h1{
margin-left: -50px;
}

table {
  margin-left: 38%;
  margin-bottom: 10px;
}

table,
table tr,
table td {
  border: 1px solid black;
  padding: 3px;
  background-color: #80ABB0;
}

table th {
  border: 3px solid black;
  padding: 5px;
}

table tr:nth-child(2) {
  font-weight: bolder;
  width: 30%;
}

#licoes_aprendidas {
  display: inline-block;
  width: 30%;
}

#licoes_a_aprender {
  display: inline-block;
}

.lado-esquerdo,
.lado-direito {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 20px;
  line-height: 20px;
  color: black;
  text-align: justify;
  padding: 20px 50px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.lado-esquerdo {
  margin-left: 150px;
}

.lado-direito {
  margin-right: 150px;
}

.lado-direito p, .lado-esquerdo p{
  line-height: 35px;;
}

#rodape {
  padding: 2px 0 10px;
  clear: both;
  background-color: #718CA0;
  text-align: center;
}

#rodape p{
  font-weight: bolder;
}

#rodape a{
  text-decoration: none;
  font-size: 20px;
  color: #D3D3D3;
  font-weight: bolder;
}

#minha_foto {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 38%;
}

#img-section {
  width: 100%;
  background-color: #B6B6B6;
}
