body{
    background-color: rgb(253, 251, 251);
}
body{
    margin: auto;
}

#cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    background-color:#718CA0;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}

#menu{
    margin-top: 100px;
    background-color: #80ABB0;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}

#menu a{
    text-decoration: none;
    padding: 0 20px;
}

table, table tr, table td{
    border: 1px solid black;
    padding: 3px;
}

table th{
    border: 3px solid black;
    padding: 5px;
}
table tr:nth-child(2){
    font-weight: bolder;
    width: 30%;
}

#licoes_aprendidas{
    display: inline-block;
    width: 30%;
}

#licoes_a_aprender{
    display: inline-block;
}

.lado-esquerdo, .lado-direito{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
    line-height: 20px;
    color: #3F385F;
    text-align: justify;
    padding: 5px;
}

.lado-esquerdo{
    float: left;
    width:49%;
}

.lado-direito{
    float: right;
    width: 49%;
}

#rodape{
    padding: 10px;;
    clear: both;
    background-color:#718CA0;
    text-align: center;
}