*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    background-color:#718CA0;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}

#menu{
    margin-top: 57px;
    background-color: #80ABB0;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}

#menu a{
    text-decoration: none;
}